
figure{
	height:  80%;
	width: 25%;
	display: inline-block;
}

img {
	height: 200px;
	width:200px;
}

.pictures{
	width:  90%;
	margin: auto;
	flex-wrap: wrap;
	display: flex;
	flex-direction: row;
	background-color: lightgray;
	border: 3px solid black;
	align-items: center;
	justify-content: center;

}